/* ContactForm.module.css */

/* Style the ContactForm container */
.contactFormContainer {
  background-color: transparent   ;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  overflow: auto;
}

/* Style the header */
.head {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  font-family: 'Realway', sans-serif;
  font-size: 50.4px;
}

/* Style labels */
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30.4px;
}

/* Style input fields */
.input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  color: #fff;
}

/* Style the input placeholder */
.input::placeholder {
  color: #ccc;
}

/* Style the textarea input field */
textarea.input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: none;
}

/* Ensure proper spacing between the inline fields */
.label[for="phone"] {
  
  margin-bottom: 10px;
  margin-right: 10px;
}

.label[for="email"] {
  margin-bottom: 10px;
  margin-right: 10px;
}
